body {
    background-color: lightblue;
    min-width: 375;
}

canvas {
    background-color: white;
}

#canvas-ctn {
    text-align: center;
}

#color {
    display: flex;
    flex-wrap: wrap;
}

#color > button {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin: 3px;
    border: none;
}

#color > button.active {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
#controls > button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
}