body {
    background-color: lightblue;
    min-width: 375;
}

canvas {
    background-color: white;
}

#canvas-ctn {
    text-align: center;
}

#color > button {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: none;
}

#color > button.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}